.input{
    /* width: 10% !important; */
    /* margin-bottom: 0; */
}
.input-group{
    margin: 5rem 0;
    margin-left: 20rem;
}
.button1{
width: 5rem;
height: 2.37rem;
margin-right: 40rem ;

} 

.card{
    margin: 3rem 5% !important;
}
.avatar{
    width: 40%;
    padding: 1rem 2rem !important;

}

.text-lg{
    width: 15rem;
    font-size: 1.5rem !important;
    /* margin: 1rem; */
}
span{
    width: 50%;
    cursor: pointer;
}

.pl-6{
    padding-left: 4rem !important;
}
.repos-head{
    padding-top: 1rem;
    padding-left: 1rem;
}
.repositories{
    margin-left: 1rem !important;
}
.btn-block{
    color: white !important;
    width: 45% !important;

}
.text-gray{
    color: rgb(221, 221, 221);
}
.text-gray:hover{
    color: rgb(255, 255, 255);

}